  <footer>  
      <div>
          <p>Developed by: Luiz Fernando Pezzi</p>
          <a href="https://www.linkedin.com/in/luizfernandopezzi/">Linkedin</a>
          <a href="https://github.com/luizfernandopezzi">Github</a>
      </div>
    
      <div>
          <a href="http://www.scitechmundus.com.br"><img src="/scitechMundus.png" alt="Scitech Mundus" /></a>
      </div>   
  </footer>
</html>

